<div class="container">
    <% if flash[:notice] %>
        <div class="alert alert-warning"><%= notice %></div>
    <% end %>
    <div class="row">
        <div class="col-md-2 my-5"><%= image_tag @end_user.get_profile_image(100,100) %></div>
        <div class="col-md-4">
            <h4 class="my-5"><%= @end_user.name %><%= render "public/relationships/btn", end_user: @end_user %></h4>
            <p><%= @end_user.introduction %></p>
            <p>
                <%= link_to followings_path(@end_user) do %>
                <%= @end_user.followings.count %>フォロー
                <% end %>
                <%= link_to followers_path(@end_user) do %>
                <%= @end_user.followers.count %>フォロワー
                <% end %>
            </p>
            <p><%= link_to "いいね一覧", favorites_end_user_path %></p>
        </div>
        <div class="col-md-2 my-5">
            <% if current_end_user == @end_user && current_end_user.email != "guest@example.com" %>
            <%= link_to "編集", edit_information_path(@end_user), class: "btn btn-info" %>
            <% end %>
        </div>
        <div class="col-md-4"></div>
        <h4>投稿作品</h4>
        <div class="new-posts" style="display: flex; justify-content: space-around;">
            <% @posts.each do |post| %>
            <div class="new-post" style="padding: 10px; flex: 1; margin: 10px;">
            <%= link_to post_path(post.id) do %>
            <%= image_tag post.get_image(180, 180) %>
            <h6><%= post.title %></h6>
            <% end %>
            </div>
            <% end %>
        </div>
    </div>
     <p class="text-right"><%= link_to "全ての作品を見る>", index_posts_end_user_path %></p>
</div>