<div class="container">
  <div class="row">
    <h3>投稿作品編集</h3>
    <div class="mx-auto">
      <%= image_tag @post.get_image(300, 300) %>

      <%= form_with model: @post do |f| %>
      <div class="form-group row">
        <%= f.label :title, '作品名', class: 'col-md-4 col-form-label' %>
        <div class="col-md-8">
          <%= f.text_field :title, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group row">
        <%= f.label :caption, '作品説明文', class: 'col-md-4 col-form-label' %>
        <div class="col-md-8">
          <%= f.text_area :caption, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group row">
        <%= f.label :tag_name, 'タグ(,で区切ると複数タグ登録可)', class: 'col-md-4 col-form-label' %>
        <div class="col-md-8">
          <%= f.text_field :tag_name,value: @tags, class: 'form-control' %>
        </div>
      </div>
         <%= f.submit '保存する', class: "btn btn-primary" %><%= link_to '削除する', post_path(@post), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger" %>
      <% end %>

    </div>
  </div>
</div>