<div class="container">

  <div class="row">
    <div class="col-md-3">
      <h3>作品一覧</h3>
      <%= link_to '新着順', posts_path(latest: "true") %>|
      <%= link_to '古い順', posts_path(old: "true") %>|
      <%= link_to 'いいね順', posts_path(most_favorited: "true") %>
    </div>
    <div class="col-md-6">
      <% @tags.each do |tag| %>
        <i class="fa-solid fa-tags" style="color: #4a3f3f;"></i>
        <%= link_to tag.tag_name, search_tag_path(tag_id: tag.id) %>
        <%= "(#{tag.posts.count})" %>
      <% end %>
    </div>
    <div class="col-md-3 my-2">
      <%= render 'search', q: @q, url: posts_path %>
    </div>
  </div>
  <div class="row">
    <%= render 'list', posts: @posts %>
  </div>
  <%= paginate @posts %>
</div>