<div class="container">
  <div class="row">
    <h2>新規投稿</h2>
    <div class="mx-auto">

      <%= form_with model: @post do |f| %>
      <div class="form-group row">
        <%= f.label :image, '投稿作品', class: 'col-sm-3 col-form-label' %>
        <div class="col-sm-9">
          <%= f.file_field :image, accept: "image/*", class: 'form-control' %>
        </div>
      </div>
      <div class="form-group row">
        <%= f.label :title, '作品名', class: 'col-sm-3 col-form-label' %>
        <div class="col-sm-9">
          <%= f.text_field :title, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group row">
        <%= f.label :caption, '作品説明文', class: 'col-sm-3 col-form-label' %>
        <div class="col-sm-9">
          <%= f.text_area :caption, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group row">
        <%= f.label :tag_name, 'タグ(,で区切ると複数タグ登録可)', class: 'col-sm-3 col-form-label' %>
        <div class="col-sm-9">
          <%= f.text_field :tag_name, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group row">
        <%= f.submit '投稿', class: 'btn btn-success' %>
      </div>
      <% end %>
    </div>
  </div>
</div>