<div class="contents">
  <% posts.each do |post| %>
  <div class="content" style="padding: 10px; margin: 10px;">
  <%= link_to admin_post_path(post.id) do %>
    <%= image_tag post.get_image(200, 200) %>
  <h5><%= post.title %></h5>
  <% end %>
  <p>
    <%= link_to admin_end_user_path(post.end_user.id) do %>
    <%= image_tag post.end_user.get_profile_image(50, 50) %>
    <%= post.end_user.name %>
    <% end %>
  </p>
  </div>
  <% end %>
</div>