<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-6 my-1">
      <%= image_tag @post.get_image(500, 500) %>
    </div>
    <div class="col-md-4">
      <h2 class="my-5"><%= @post.title %></h2>
      <P><%= @post.caption %></P>
      <P>
        <%= link_to admin_end_user_path(@post.end_user.id) do %>
        <%= image_tag @post.end_user.get_profile_image(100, 100) %>
        <%= @post.end_user.name %>
        <% end %>
      </p>
      <%= link_to "削除する", admin_post_path(@post),method: :delete,  class:"btn btn-danger" %>
    </div>
  </div>
</div>